@{
    ViewData["Title"] = "Home Page";
}
<style>
body {
  background-image: url(https://i.pinimg.com/736x/b8/7c/a4/b87ca4cdc2fac9fba024cd2219e4e7a9.jpg);
}
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to Catbucks</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
